# data files
dataset/**
!dataset/**/README.md
# log files
log/**
!log/**/.placeholder
# model files
*.pt
*.ply
# temp files
*.pyc
.vscode
build
*.egg-info
__pycache__
# dlc scripts
dlc_scripts/**

.DS_Store
test*.py
assets/triggers/
debug*.py
*.md
userinput.py

wandb/
/workspace/wwang/poison-splat/victim/mip-splatting/wandb
dataset_processed/**
preprocess_bicycle_enhance/
preprocess_bicycle_enhance_unlimited/

log_scarf/

scarf_exp/00_scarf_poison/.nfs000000000ababefa00000d38/